        <!-- entête -->
        <header>
            <div class="row justify-content-between">
        
            <div class="col-4 d-none d-sm-block">
            <img class="img-fluid" src="src/img/logo.png" title="logo" alt="logo_Alexelec">
            </div>
            <h3 class="col-4 align-self-end d-none d-sm-block">Toute votre installation électrique</h3>
            </div> <!-- fin div class row -->
            <br>
        </header>