{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Réinitialiser votre mot de passe</h1>

        <div class="col-sm-10 col-sm offset-1">
            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Reset password</button>
            {{ form_end(resetForm) }}
        </div>
</div>

{% endblock %}
