{% extends 'base.html.twig' %}
 {% block body %}
     <div class="container">
         <div class="row mt-5">
            <div class="col-sm-8 offset-sm-2">
                 <h1>Vos informations</h1>
                    <table class="table table-light table-hover">
                        <thead>
                        <tr>
                            <th>mail</th>
                            <th>role</th>
                            <th>Mail vérifié</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for informations in informations %}
                            <tr>
                                <td>{{ informations.email }}</td>
                                {% for role in informations.roles %}
                                    <td>{{ role }}</td>
                                {% endfor %}
                                
                                <td>{{ informations.isVerified }}</td>
                                <td><a href="{{path('app_profil_edit',{'id': informations.id})}}">Edit</a></td>
                            </tr>
                        {% endfor %}
                        
                        </tbody>
                    </table>
            </div>
         </div>
     </div>
 {% endblock %}
