{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Ajouter un artiste</h1>

        {{ include('artist/_form.html.twig') }}

        <a class="btn btn-primary ml-4" href="{{ path('app_artist_index') }}">Retour a la liste</a>
    </div>
{% endblock %}
